<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--LOCAL-->
    <add name="AdministracionEntities" connectionString="metadata=res://*/Entidades.AdministracionEntidades.csdl|res://*/Entidades.AdministracionEntidades.ssdl|res://*/Entidades.AdministracionEntidades.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=172.20.2.153/XE;PASSWORD=ssp;USER ID=ssp&quot;" providerName="System.Data.EntityClient" />
    <!--DEMO-->
    <!--<add name="AdministracionEntities" connectionString="metadata=res://*/Entidades.AdministracionEntidades.csdl|res://*/Entidades.AdministracionEntidades.ssdl|res://*/Entidades.AdministracionEntidades.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.3.205.69/SSPE;PASSWORD=ARKUS;USER ID=arkus&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
</configuration>