<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Directory" value="C:\Users\ovela\Documents\CamManagerService"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StandardServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.4.78/FbF/V25/StandardService.asmx"
        binding="basicHttpBinding" bindingConfiguration="StandardServiceSoap"
        contract="FbFWebService.StandardServiceSoap" name="StandardServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>